{% extends "layout.njk" %}

{% block body %}
<h1>更新订阅源 {{ time }}</h1>
{% if data %}
<form class="pure-form pure-form-aligned" id="j-source-update-from">
  <fieldset>
    <div class="pure-control-group">
      <input name="id" type="text" value="{{data.id}}" style="display: none;">
      <label>源类型</label>
      <label for="option-rss" class="pure-radio">
        <input id="option-rss" type="radio" name="type" value="RSS" {{ 'checked' if data.type === 'RSS' else '' }}>
        RSS
      </label>
      <label for="option-api" class="pure-radio">
        <input id="option-api" type="radio" name="type" value="API" {{ 'checked' if data.type === 'API' else '' }}>
        API
      </label>
      <label for="option-other" class="pure-radio">
        <input id="option-other" type="radio" name="type" value="OTHER" {{ 'checked' if data.type === 'OTHER' else '' }}>
        OTHER
      </label>
    </div>

    <div class="pure-control-group">
      <label for="name">源名称</label>
      <input name="name" class="pure-input-1-4" type="text" value="{{data.name}}">
    </div>
    <div class="pure-control-group">
      <label for="source">源地址</label>
      <input name="source" class="pure-input-1-4" type="text" disabled value="{{data.source}}">
    </div>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">修改</button>
      <a href="#j-delete-subsciber-modal" rel="modal:open">
        <button class="pure-button">删除</button>
      </a>
      <p class="pure-red" id="j-source-update-error"></p>
    </div>
  </fieldset>
</form>
<div id="j-delete-subsciber-modal" class="modal">
  <h3>确定要删除吗？（不可恢复）</h3>
  <a href="#" rel="modal:close"><button type="submit" class="pure-button pure-button-primary">取消</button></a>
  <button id="j-source-delete" onclick="deleteAction()" class="pure-button">确定删除</button>
</div>
{% else %}
<div>参数错误，返回数据为空</div>
{% endif %}
<script>
  submitForm('#j-source-update-from', '/api/source/update', function(res) {
    var $tips =$('#j-source-update-error');
    if (res.success && res.data) {
      $tips.css('color','green');
      $tips.text('更新成功！');
    } else if (!res.data) {
      $tips.css('color','red');
      $tips.text('更新失败！参数错误。');
    } else {
      $tips.css('color','red');
      $('#j-source-update-error').text(res.errorMsg);
    }
  }, function(error) {
    console.error('submitFormError', error);
  });

  function deleteAction() {
    $.ajax({
      url: '/api/source/delete?_csrf=' + getCsrf(),
      data: JSON.stringify({ id: $('input[name="id"]').val() }),
      method: 'POST',
      contentType: 'application/json;charset=utf-8',
      success: function(data) {
        if (data.data) {
          alert('删除成功');
          window.location.replace('/source/list');
        } else {
          alert('未知错误，删除失败');
        }
      },
      error: function(err) {
        alert(err.responseJSON.error);
      },
    });
  }
</script>
{% endblock %}
